* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 400;
  color: #232f3e;
}
/* NAVIGATION */
.header {
  height: 6.3rem;
  background-color: #232f3f;
  padding: 0 4rem;
  display: flex;
  align-items: center;
}

.company-logo {
  height: 6.4rem;
}

/* HERO SECTION */
.hero-section {
  padding: 4.8rem 0 9.6rem 0;
  background-image: url("assets/hero-bg.jpg");
  background-color: #232f3f;
}
.hero {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.hero-heading,
.hero-descrip {
  color: white;
}

.hero-heading {
  font-size: 4.4rem;
}
.heading-descrip {
  font-size: 1.8rem;
  color: #febd69;
  margin-bottom: 1rem;
  font-weight: 600;
  letter-spacing: 1.2px;
}
.hero-descrip {
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
