* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 400;
  color: #232f3e;
}
/* REUSABLE COMPONENTS */
.container {
  /* 1140px */
  max-width: 120rem;
  padding: 7rem 3.2rem !important;
  margin: 0 auto;
}

.btn {
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  transition: all 0.3s;
}

.btn.pad-m {
  padding: 1rem 1.5rem;
}

.btn.pad-l {
  padding: 1.6rem 2.1rem;
}

.btn-primary:link,
.btn-primary:visited {
  background-color: #febd69;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.11);
  color: #232f3e;
}

.btn-primary:hover,
.btn-primary:active {
  color: #232f3e;
  background-color: #ffa400;
  box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.11);
}

.btn-second:link,
.btn-second:visited {
  background-color: #5c7695;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.11);
  font-weight: 600;
  color: white;
}

.btn-second:hover,
.btn-second:active {
  background-color: #232f3f;
  box-shadow: inset 0 0 0 0.2rem white;
}

.heading-primary {
  text-align: center;
  font-weight: 700;
  padding-bottom: 3rem;
}

.heading-secondary {
  display: block;
  color: #ffa400;
  margin-bottom: 2rem;
  font-weight: 600;
  text-align: center;
}

.grid {
  display: grid;
}

.grid-current {
  grid-template-columns: 1fr;
}

.grid-past {
  grid-template-columns: repeat(auto-fit, minmax(357px, 1fr));
  justify-content: center;
  column-gap: 4rem;
  row-gap: 6rem;
}

.highlight {
  color: #ffa400;
}

/* ANIMATION */
.slide-up {
  box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.18);
  transition: all 0.4s;
}

.slide-up:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 0.2rem 2rem rgba(0, 0, 0, 0.18);
}

.slideUp:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

/* NAVIGATION */
.header {
  height: 5.5rem;
  background-color: #232f3f;
  padding: 0 4rem;
  display: flex;
  align-items: center;
  /* make it sticky */
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

.company-logo {
  height: 6.4rem;
}

/* HERO SECTION */
.section-hero {
  min-height: 100vh;
  padding-bottom: 16rem;
  background-image: url("assets/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}
.hero-content {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.hero-heading,
.hero-descrip {
  color: white;
}

.hero-heading {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  line-height: 1.2;
  padding-top: 2rem;
}

.hero-descrip {
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-btn {
  display: flex;
  gap: 1.5rem;
}
/* GENERAL EVENT STYLING*/
.event-box {
  border: 0.1rem solid #d6d6d6;
  overflow: hidden;
  border-radius: 8px;
}

.event-content {
  display: flex;
  flex-direction: column;
}

/* UPCOMING EVENTS */
.section-current-events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
}

.event-box.current {
  max-width: 94.6rem;
  margin-top: 4rem;
  grid-template-columns: repeat(2, 1fr);
}

.current-content-box {
  margin: 0 4.5rem;
}

.event-heading {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 4.5rem 0 2.1rem 0;
  margin-bottom: 2rem;
  border-bottom: 0.5px solid #bec8d5;
}

.event-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #febd69;
  color: #232f3e;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.event-date > .day {
  font-size: 2.8rem;
  font-weight: 700;
}

.event-date > .month {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
}

.current.event-title {
  font-size: 2.3rem;
}

.event-place {
  display: block;
  padding-top: 0.5rem;
}

.event-loc {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  color: #6c84a0;
  margin: 0 0 2.8rem 0.2rem;
}

.loc-icon {
  height: 2.3rem;
  width: 2.3rem;
}
.loc-address {
  font-size: 1.5rem;
  font-weight: 600;
}

.event-descrip {
  color: #37475a;
  line-height: 1.3;
}

.event-btn {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin: 3.8rem 0 4.6rem 0;
  align-self: flex-start;
}

.current-event-img {
  width: 100%;
  height: 100%;
}

/* PAST EVENTS */
.past-events {
  margin-top: 3rem;
  padding: 0 16.4rem;
}
.past-event-img {
  width: 100%;
}

.past-content-box {
  margin-left: 0;
  padding: 3.3rem 3rem;
}

.past.event-heading {
  padding: 0 0 1.6rem 0;
}

.past.event-descrip {
  font-size: 1.6rem;
}

.past.event-btn {
  align-self: flex-end;
  margin: 1rem 1rem 0 0;
}

/* FOOTER */
footer {
  background-color: #37475a;
  padding: 4.2rem 8.5rem 2.4rem 8.5rem;
  margin-top: 15.8rem;
  color: white;
}

.logo {
  width: 100%;
  max-width: 35rem;
}
.grid--footer {
  grid-template-columns: 32fr 28fr 20fr 20fr;
}

.footer-logo {
  display: block;
  margin-bottom: 2rem;
}
.footer-descrip {
  font-size: 1.6rem;
  line-height: 1.5;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.nav-col {
  margin-bottom: 4rem;
}
.nav-col:nth-child(2) {
  grid-column: 3 / span 1;
}
.nav-col:nth-child(3) {
  grid-column: 4 / span 1; /* Occupy 30fr */
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.9rem;
}

.footer-heading {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 1rem 0 3.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.4rem;
  color: white;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #ffa400;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.social-icon {
  height: 3.7rem;
  width: 3.7rem;
}

.copyright {
  text-align: center;
  font-size: 1.3rem;
  padding-top: 2.4rem;
  border-top: 1px solid white;
}

/* MEDIA QUERIES */
/* BELOW 1167px (Landscape Tablets) */
@media (max-width: 73em) {
  .past-events {
    padding: 0 9.1rem;
  }

  .footer-descrip {
    font-size: 1.4rem;
  }

  .grid--footer {
    grid-template-columns: 3fr 1fr 2fr 2fr;
    column-gap: 2rem;
  }
}
/* BELOW 1000px (Tablets) */
@media (max-width: 62.5em) {
  html {
    font-size: 50%; /* 8px / 16px = 0.5 = 50% */
  }

  .section-hero {
    background-image: url("assets/hero-bg-portrait.png");
  }

  .hero-content {
    max-width: 75rem;
    grid-template-columns: 1fr;
  }

  .event-box.current {
    grid-template-columns: 1fr;
  }

  .current-img-box {
    grid-row: 1/2;
  }

  .current-events {
    margin: 0 auto;
    max-width: 52.7rem;
  }

  .event-loc {
    margin-bottom: 1.5rem;
  }

  .event-btn {
    align-self: flex-end;
    margin-top: 2rem;
  }

  .past-events {
    padding: 0 17rem;
    max-width: 35.7rem;
    margin: 0 auto;
  }

  .event-title {
    font-size: 2rem;
  }

  .footer-descrip,
  .footer-heading {
    display: none;
  }

  .grid--footer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    justify-items: center;
    row-gap: 2.5rem;
  }

  .footer-logo,
  .nav-col {
    margin-bottom: 0;
  }

  .nav-col:nth-child(2),
  .nav-col:nth-child(3) {
    grid-column: 1 / span 1;
    text-align: center;
  }

  .nav-col:nth-child(2) {
    grid-row: 2 / span 1;
  }
  .nav-col:nth-child(3) {
    grid-row: 3 / span 1;
  }
}

/* BELOW 496px (MOBILE) */
@media (max-width: 31em) {
  .hero-heading {
    font-size: 4.2rem;
  }

  body {
    font-size: 1.6rem;
  }

  .hide {
    display: none;
  }

  .current.event-title {
    font-size: 2rem;
  }

  .current-content-box {
    margin: 0 3.5rem;
  }

  .event-heading {
    padding-top: 3rem;
  }

  .event-btn {
    margin-bottom: 3rem;
  }
}
